body{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  background-color: #605d5d !important;
  color: lightgoldenrodyellow !important;
}
.App{
  text-align: center;
  margin-top: 60px;
}

.normal-link a{
  color: #f3d514;
}

.normal-link a:hover{
  color: #ff6400;
}

ul{
  list-style: none;
}